    /* BOTTONS */
    

.bottom-fixed {
    /*position: fixed;*/
    background: white;
}

.bottom  {
    font-family: Montserrat, sans-serif;
    padding: 10px;
    border: #FCA311;
    display: inline-block;
    text-decoration: none;
    color: #14213D;
    scroll-behavior: smooth;
}

.bottom:hover {
    background-color:#FCA311;
}

     /* NAME */


.name {  
   height: 100vh;
   width: 100vw;
   background-color: #FCA311;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   box-sizing: border-box;
   padding: 0 112px;
   position: relative;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

p {
    text-transform: uppercase;
    letter-spacing: 4px;
}
    /* Social Midias */

.pag-github {
    text-decoration: none;
    color: #14213D;
    padding: 1rem 4rem;
    font-family: Montserrat, sans-serif;
    border: #FCA311;
    display: inline-block;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}
 .pag-github:hover{
     background-color: #FCA311;
 }
.pag-linkedin {
    text-decoration: none;
    color: #14213D;
    padding: 1rem 4rem;
    font-family: Montserrat, sans-serif;
    border: #FCA311;
    display: inline-block;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}
.pag-linkedin:hover{
    background-color: #FCA311;
}



h1 {
    font-family: 'EB Garamond', serif;   
}
img {
    padding: 50px;
    height: 150px;
    border-radius: 300px;
    width: 180px;
    margin: 50px;
}

body {
     background: url(/Background-website-01.jpg);
     background-repeat: no-repeat;
 }

personal-description p {
background-color: #E5989B;
}

working-skills {

}

.course-trybe {
    border-bottom-right-radius: 50%;
  /* border-radius: 50%; */
  background: #FCA311;

working-how {

}

curioseti {

}
